### Q1. Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise

# 01. Importing Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
# Project folder pathway
path = r'C:\Users\SD.DESKTOP-45BHU58\OneDrive\Desktop\CF\Section 4 - Python\Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\SD.DESKTOP-45BHU58\\OneDrive\\Desktop\\CF\\Section 4 - Python\\Instacart Basket Analysis'

In [4]:
# Importing updated ords_prods_merged

df_ords_prods_merged = pd.read_pickle(r'C:\Users\SD.DESKTOP-45BHU58\OneDrive\Desktop\CF\Section 4 - Python\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_merged_2.pkl')

In [5]:
# Checking data

df_ords_prods_merged.shape

(32404859, 19)

In [6]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders

# 03. Directions

### Q2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe

In [8]:
# Calculating mean of "order_number" column grouped by "department_id" column

df_ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Q3. Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

Majority of the order_number averages for the department_ids were lower in the results for the entire dataframe compared to the subset

### Q4. Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions

In [10]:
# Aggregating data with transform() function

df_ords_prods_merged['max_order'] = df_ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
# Checking data

df_ords_prods_merged.head(10)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10

In [17]:
# Adding 'loyalty_flag' column using loc() function
# Above 40 orders = Loyal customer

df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
# More than 10, less than or equal to 40 orders = Regular customer

df_ords_prods_merged.loc[(df_ords_prods_merged['max_order'] <= 40) & (df_ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [19]:
# Less than or equal to 10 orders = New customer

df_ords_prods_merged.loc[df_ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
# Value counts of 'loyalty_flag'

df_ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [22]:
# Checking data

df_ords_prods_merged.shape

(32404859, 21)

In [23]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer

### Q5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers

In [24]:
# Performing multiple aggregations for 'price', grouped by 'loyalty_flag'

df_ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

### Q6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria: 

a. If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”

b. If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [25]:
# Creating new column in df for average price of products

df_ords_prods_merged['avg_order_cost_by_cust'] = df_ords_prods_merged.groupby(['user_id'])['prices'].transform('mean')

In [26]:
# Checking columns

df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_cost_by_cust
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797

In [27]:
# Creating spender flag: low spender - less than 10

df_ords_prods_merged.loc[df_ords_prods_merged['avg_order_cost_by_cust'] < 10, 'spender_flag'] = 'Low spender'

In [28]:
# Creating spender flag: High spender - higher than or equal to 10

df_ords_prods_merged.loc[df_ords_prods_merged['avg_order_cost_by_cust'] >= 10, 'spender_flag'] = 'High spender'

In [29]:
# Checking columns

df_ords_prods_merged.head(10)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_cost_by_cust,spender_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,False,196,2,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,False,196,4,1,...,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,False,196,1,1,...,9.0,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender

### Q7. In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:

a. If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer.”

b. If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer.”

c. If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [34]:
# Create new column for median of 'days_since_prior_order'

df_ords_prods_merged['order_frequency_by_cust'] = df_ords_prods_merged.groupby(['user_id'])['days_since_prior_order'].transform('median')

In [35]:
# Checking columns

df_ords_prods_merged.head()

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_cost_by_cust,spender_flag,order_frequency_by_cust
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5

In [37]:
# Creating order frequency flag: Non-frequent - higher than 20

df_ords_prods_merged.loc[df_ords_prods_merged['order_frequency_by_cust'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [38]:
# Creating order frequency flag: Regular customer - more than 10, lower than or equal to 20

df_ords_prods_merged.loc[(df_ords_prods_merged['order_frequency_by_cust'] <= 20) & (df_ords_prods_merged['order_frequency_by_cust'] > 10), 'frequency_flag'] = 'Regular customer'

In [39]:
# Creating order frequency flag: Frequent customer - lower than or equal to 10

df_ords_prods_merged.loc[df_ords_prods_merged['order_frequency_by_cust'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [40]:
# Checking output and columns

df_ords_prods_merged.head(100)

,order_id,user_id,order_number,orders_day_of_the_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order_cost_by_cust,spender_flag,order_frequency_by_cust,frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,Mid-range product,Regularly busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Mid-range product,Least busy,Least busy days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,Mid-range product,Least busy,Least busy days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,True,196,1,0,...,Mid-range product,Regularly busy,Regularly busy days,Most orders,3,New customer,10.006250,High spender,4.0,Frequent customer
96,1469869,377,3,5,17,3.0,False,196,9,0,...,Mid-range product,Regularly busy,Regularly busy days,Average orders,3,New customer,8.496552,Low spender,16.5,Regular customer
97,1927023,387,2,4,10,22.0,False,196,3,0,...,Mid-range product,Least busy,Least busy days,Most orders,8,New customer,7.396610,Low spender,8.0,Frequent customer
98,858092,420,4,1,19,30.0,False,196,2,0,...,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,7.387805,Low spender,7.0,Frequent customer
99,119314,420,5,3,19,16.0,False,196,2,1,...,Mid-range product,Regularly busy,Least busy days,Average orders,22,Regular customer,7.387805,Low spender,7.0,Frequent customer

# 04. Exporting Data

In [41]:
# Exporting dataframe as pickle file

df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_3.pkl'))